// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.w-50p {
    width: 50px;
}

.btn-primary,
.swal2-confirm {
    background-color: #72C8E1 !important;
    border-color: #72C8E1 !important;
    outline: 0;
    &:hover,
    &:disabled,
    &:focus {
        outline: 0;
        background-color: #72C8E1;
        border-color: #72C8E1;
    }
}

.text-gray {
    color: #B7B7BF;
}

.date-component {
    border-bottom: 1px solid #DDD;
    &:last-of-type {
        border-bottom: 0;
    }
}

.form-control{
    &[readonly] {
        background-color: #FFF;
    }
}

// Calendar ui override
.vdp-datepicker__calendar {
    padding: 15px;
    .cell {
        &:not(.day-header) {
            border-left: 1px solid #DDD !important;
            border-bottom: 1px solid #DDD !important;
            &:hover {
                &:not(.blank) {
                    border-color: #DDD !important;
                    background-color: #DDD;
                }
            }
        }
        &:nth-child(7n) {
            border-right: 1px solid #DDD !important;
            // background-color: 'red' !important;
        }
        &.day-header {
            border-right: 0 !important;
            border-bottom: 1px solid #DDD !important;
        }
        &:last-of-type {
            border-right: 1px solid #DDD !important;
        }
        &.selected {
            background: #72C8E1 !important;
            color: #FFF !important;
        }
    }
}